<h1>Contact Page</h1>
<p>Interested in your own custom web application or website? Contact me any method you choose below:</p>
<p>Email Address: Jason.Ahern@BluTay.com</p>
<p>Contact Number: <%= number_to_phone "5625690400" %></p>
