<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Taking small businesses to the next level with reasonably priced powerful application driven websites built to 
  your custom design. Our goal is not only a well built website but also solid customer service.  Communication is the
  backbone of our company motto and the customer should be fully aware what is going on at all times with their site.</p>
  <p class="lead">
    <%= link_to "Learn More", about_us_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



    